<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>FEN Chess List</title>

    <link crossorigin="anonymous"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          rel="stylesheet">

</head>
<body>
<div align="center" class="container my-2">

    <h1>FEN Chess List</h1>
    <form action="/logout" method="GET"><button type="submit" class="position-relative top-5 start-50 translate-middle">Logout</button> </form>

    <a th:href="@{/newFenForm}" class="btn btn-primary btn-sm mb-3"> Add FEN </a>

    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>FEN Combinations</th>
            <th>Description</th>
            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
            <th>Actions</th>
            </th:block>
        </tr>
        </thead>
        <tbody>
        <tr th:each="fenModel : ${fenList}">
            <td th:text="${fenModel.fen}"></td>
            <td th:text="${fenModel.description}"></td>
            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
            <td>
                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                <form th:action="@{'/updateForm/{id}'(id=${fenModel.id})}" th:method="PUT">
                    <button class="btn btn-primary">Update</button>
                </form>
                </th:block>
                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                <form  th:action="@{'/deleteFenID/{id}'(id=${fenModel.id})}" th:method="DELETE">
                    <button type="submit" class="btn btn-danger">
                        Delete</button>
                </form>
                </th:block>
            </td>
            </th:block>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>